html,body {
	background-color: black;
	text-align: center;
	height:100%;
    width:100%;
    margin:0;
}
body,body{
	display:flex;
}
form {
	margin: auto;
}
#text {
	color: white;
	font-family: DM Mono,sans-serif;
	font-size: 64px;
}

input {
	width: 300px;
	height: 50px;
	border: none;
	border-radius: 20px;
	font-family: DM Sans,sans-serif;
	font-size: 20px;
	font-size: 1.3em;
}

#press_me {
	background-color: #A0C52A;
	color: white;
	width: 300px;
}